<template>
  <div>
    <map-container></map-container>
  </div>
</template>

<script>
  import MapContainer from './mapContainer.vue';
  
  export default {
    components: {
      'map-container': MapContainer
    }
  }
</script>;